html {
    /* Sets scale of page */
    zoom: 1.4;
    
    /* Centers elements */
    display: grid;
    place-items: start center; 
    height: 100vh;

    /* Hides vertical scrollbar */
    overflow-y: hidden;
}

body {
    /* Sets font */
    font-family: "Trebuchet MS";
    font-size: 1.35vmax;
    color: white;
    
    /* Sets background colour */
    /* background-color: rgb(76, 57, 200); */
    background-color:rgb(59, 64, 69);
}

#title-card {
    padding: 0.25vmax 0.52vmax 0.25vmax 0.52vmax; 
    color: black;
    background-color: white;
    margin-bottom:1.5vmax;
    border-radius: 0.5vmax;
    width: 20vmax;
}

h1 {
    /* Makes the h1 element bold and underlines it */
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    padding-bottom: 5%;
    text-align: left;
}

h4 {
    margin: 0;
    padding-bottom: 1.5%;
    text-align: left;
}

button {
    /* When hovering over the button your cursor turns into a pointer */
    cursor: pointer;
    
    /* Sets border and background colour of button */
    background-color: white;
    border-color: white;
}

#output {
    padding: 0.25vmax 0.52vmax 0.25vmax 0.52vmax; 
    color: rgba(0, 0, 0, 0.4);
    font-style:italic;
    background-color: white;
    border-radius: 0.5vmax;
    text-align: left;
    width: 20vmax;
    
    margin-top: 8%;
    font-size: 94%;
}
